
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nos-escola</title>
</head>
<body>
    <h1>nos-escola</h1>

    <% if (message) { %>
    <p style="color:red;"><%= message %></p>
    <% } %>

</body>
</html>